{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/payments.css' %}">
               <link rel="icon" href="{% static 'Images/bus.jpg' %}" type="image/png">

</head>

<body>
<div class="iphone">
    <header class="header">
        <h1>Payment</h1>
    </header>

    <form action="{% url 'daraja' %}" class="form" method="POST" style="text-align: center; ">
        <div class="fom">
            {% csrf_token %}
            <label for="username">Enter your username</label><br>
            <input type="text" name="username" id="username"><br>

            <!-- Dropdown for selecting available cars -->
            <label for="vehicle">Select Vehicle</label><br>
            <select name="vehicle" id="vehicle">
                {% for car in all_buses %}
                    <option value="{{ car.BusName }}">{{ car.BusName }}</option>
                {% endfor %}
            </select><br>
            <label for="quantity">Enter the number of seats you want to book</label>
            <input type="number" name="quantity" id="quantity"> <br>

            <label for="amount">Enter Amount</label><br>
            <input type="text" name="amount_paid" id="amount"><br>

            <label for="phoneNo">Enter your Phone Number</label><br>
            <input type="tel" name="phoneNo" id="phoneNo"><br>

            <h2>Address</h2>
            <div class="card">
                <address>
                    SafariLink Travellers<br />
                    403 Moi Ave Street, A city, Nairobi, 32104,<br />
                    Kenya
                </address>
            </div>
        </div>

        <fieldset>
            <legend>Payment Method</legend>
            <div class="form__radios">
                <div class="form__radio">
                    <label for="M-PESA"><svg class="icon"></svg>M-PESA Payment</label>
                    <input checked id="mpesa" name="payment-method" type="radio" />
                </div>
            </div>
        </fieldset>

        <div>
            <button class="button button--full" type="submit"><svg class="icon"></svg>Pay Now</button>
        </div>
    </form>
    <script src="./script.js"></script>
</div>
</body>
</html>
