<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
</head>
<body>
<h1>Notifications</h1>
<table border="1">

    <tr>
        <th>Vehicle Numberplate </th>
        <th>From</th>
        <th>Bus Destination</th>
        <th>Message</th>
    </tr>
    <tr>
        {% for notification in notifications %}
              <p style="color: blue;font-style: italic">General Notification:</p>
                 {{ notification.generalNotification }}
             <p style="color: blue;font-style: italic">Other Notification:</p>
        <td>{{ notification.BusName }}</td>
            <td>{{ notification.From }}</td>
            <td>{{ notification.BusDestination }}</td>
            <td>{{ notification.message }}</td>
        {% endfor %}
    </tr>
</table>
<a href="{{ '/login/' }}">back home</a>
</body>
</html>